.fundo{
    height: 100vh;

}

.main{
    background-color: white;
    width: 100%; 
    display: flex;
    flex-direction: row;
    height: 100%;
}

.cadastrar{
    margin-left: auto;
    margin-top: 1em;
    display: block;
}

.titulo{
    text-align: center;
    font-size: 4em;
}

.menu{
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    margin-left: -1.2em;
    height: 100%;
    padding: 0.5em;
}


.tabela{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2em;
}

.imagem{
    width: 40%;
    height: 40%;
    margin: auto;
    display: block;
}

.logo{
    margin-top: 3em;
    margin-bottom: 3em;
}

.opcoes{
    background-color: black;
    margin-bottom: -0.2em;
}

.formulario{
    padding-left: 1em;
    padding-right: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.formularioEdit{
    padding-top: 13em;
}

.furmularioTexto{
    padding: 0em;
    padding-left: 1.1em;
}

.seletorContato{
    margin-top: 1.3em;
    margin-left: 1.5em;
}

.seletorPessoa{
    margin-top: 1.5em;
    margin-left: 1.5em;
}

.formularioImput{
    width: 90%;
    margin-left: 1em;
}

.mostrar{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2em;
}

.camposFormularios{
    padding: 0.5em;
}

.campoEndereco{
    margin-bottom: 2em;
}

.campoVermelho{
    border-color:  red;
}

.btnFiltro{
    margin-bottom: 0.3em;
    margin-left: 1em;
}

.furmularioTextoShow{
    padding-left: 5em;

}

.formularioImputShow{
    width: 20%;
    margin-left: 5em;
}

.formularioImputAnotacao{
    padding: 1em;
    margin-left: 4em;
}