.fundo{
    height: 100vh;

}

.main{
    background-color: white;
    width: 100%; 
    display: flex;
    flex-direction: row;
    height: 100%;
}

.cadastrar{
    margin-left: auto;
    margin-top: 1em;
    display: block;
}

.titulo{
    text-align: center;
    font-size: 4em;
}

.menu{
    flex-direction: column;
    background-color: gray;
    justify-content: flex-start;
    width: 20%;
    margin-left: -1.2em;
    height: 100%;
}

.tabela{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2em;
}

.imagem{
    width: 40%;
    height: 40%;
    margin: auto;
    display: block;
}

.logo{
    margin-top: 3em;
    margin-bottom: 3em;
}

.opcoes{
    background-color: black;
    text-decoration-color: white;
    margin-bottom: -0.2em;
}

.formulario{
    padding: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.furmularioTexto{
    padding: 0em;
}

.seletor{
    margin-bottom: 1em;
}

.seletorPessoa{
    margin-top: 1.5em;
    margin-left: 1.5em;
}

.formularioImput{
    width: 90%;
    margin-left: 1em;
}

.mostrar{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2em;
}

.pessoa{
    padding: 2em;
    margin-bottom: 5em;
}

.endereco{
    padding: 2em;
}

.campoEndereco{
    margin-bottom: 2em;
}

.campoVermelho{
    border-color:  red;
}